@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-body: var(--font-inter);
  --font-heading: var(--font-syne);
  --font-jetbrains: var(--font-mono);
  --color-bg: #0d0b0a;
  --color-surface: #1c1814;
  --color-primary: #c13c3c;
  --color-text: #f0e8e0;
  --color-muted: #8a7a6e;
  --color-green: #3d6b4f;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--color-primary);
  color: var(--color-text);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(240, 232, 224, 0.15);
  border-radius: 99px;
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
